@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar {
    gap: 20px;
    background: #F5EBD6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    padding: 10px;
}

.navbar {
    background: #F2EDE3;
    flex: 1;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/*----- Dashboard CSS ------*/
.dashboard {
    display: flex;
    gap: 20px;
    background: #F5EBD6;
    min-height: 100vh;
}

.dashboard-content {
    background: #F2EDE3;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.dash-icon {
    width: 29px;
}